---
import { Picture } from '@astrojs/image/components';
import body from '~/assets/images/THE-CAKE-IS-A-LIE/body.png';
import grid from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-grid.png';
import headIn from '~/assets/images/THE-CAKE-IS-A-LIE/HeadIN.png';
import headOut from '~/assets/images/THE-CAKE-IS-A-LIE/HeadOUT.png';
import headLight from '~/assets/images/THE-CAKE-IS-A-LIE/Light.png';
import rled1 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-body.png';
import rled2 from '~/assets/images/THE-CAKE-IS-A-LIE/RLedBIG-Head.png';
import rled3 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Body-2.png';
import rled4 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Head-2.png';
import rled5 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Head.png';
---

<style>
  .flicker {
  }
</style>
<div class="absolute right-0 w-1/6 mr-8">
  <Picture
    class="z-30 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={headLight}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={headIn}
  />
  <Picture
    class="z-20 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={headOut}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={rled5}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={rled4}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={rled3}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={rled2}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={rled1}
  />
  <Picture
    class="z-10 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={grid}
  />
  <Picture
    class="z-0 absolute"
    alt="glad-os"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={1024}
    src={body}
  />
</div>
