---
import { Picture } from '@astrojs/image/components';
import body from '~/assets/images/THE-CAKE-IS-A-LIE/body.png';
import grid from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-grid.png';
import headIn from '~/assets/images/THE-CAKE-IS-A-LIE/HeadIN.png';
import headOut from '~/assets/images/THE-CAKE-IS-A-LIE/HeadOUT.png';
import headLight from '~/assets/images/THE-CAKE-IS-A-LIE/Light.png';
import rled1 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-body.png';
import rled2 from '~/assets/images/THE-CAKE-IS-A-LIE/RLedBIG-Head.png';
import rled3 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Body-2.png';
import rled4 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Head-2.png';
import rled5 from '~/assets/images/THE-CAKE-IS-A-LIE/RLed-Head.png';
---

<style>
  .shake-vertical {
    transform-origin: 90%;

    animation: shake-vertical 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse both;
  }
  .light {
    animation: light ease-in-out infinite;
  }
  .flicker {
    animation: blink-normal ease-in-out infinite alternate-reverse both;
  }
  .flicker-fast {
    animation: blink-fast linear infinite alternate-reverse both 0.5s;
  }
  .flicker-fast2 {
    animation: blink-fast ease-in-out infinite alternate-reverse both 0s;
  }
  .flicker-fast3 {
    animation: blink-fast linear infinite alternate-reverse both 0s;
  }
  .flicker-fast4 {
    animation: blink-fast ease-in-out infinite alternate-reverse both 0.75s;
  }
  .flicker-fast5 {
    animation: blink-normal linear infinite alternate-reverse both 0.5s;
  }
  .flicker-fast6 {
    animation: blink-fast linear infinite alternate-reverse both 2.5s;
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: skewY(0) rotateX(0deg) translateY(15px) rotate(5deg);
      transform: skewY(0) rotateX(0deg) translateY(15px) rotate(5deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: skewY(-1deg) rotateX(10deg) translateY(0px) rotate(6deg);
      transform: skewY(-1deg) rotateX(10deg) translateY(0px) rotate(6deg);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: skewY(0deg) rotateX(0deg) translateY(15px) rotate(5deg);
      transform: skewY(0deg) rotateX(0deg) translateY(15px) rotate(5deg);
    }
  }
  @keyframes light {
    0%,
    40% {
      -webkit-transform: translate(0px);
      transform: translate(-5px, -8px);
    }
    50% {
      -webkit-transform: translate(15px);
      transform: translate(3px, 10px);
    }
    60%,
    100% {
      -webkit-transform: translate(15px);
      transform: translate(-5px, -8px);
    }
  }
  @keyframes blink-normal {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-fast {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<div class="shake-vertical">
  <div class="absolute right-5 w-1/5">
    <Picture
      class="z-30 absolute light"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={headLight}
    />
    <Picture
      class="z-10 absolute light"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={headIn}
    />

    <Picture
      class="z-20 absolute"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={headOut}
    />
    <Picture
      class="z-10 absolute flicker-fast6"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={rled5}
    />
    <Picture
      class="z-10 absolute flicker-fast3"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={rled4}
    />
    <Picture
      class="z-10 absolute flicker-fast"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={rled3}
    />
    <Picture
      class="z-10 absolute flicker-fast4"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={rled2}
    />
    <Picture
      class="z-10 absolute flicker-fast2"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={rled1}
    />
    <Picture
      class="z-10 absolute flicker-fast5"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={grid}
    />
    <Picture
      class="z-0 absolute"
      alt="glad-os"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      src={body}
    />
  </div>
</div>
<script>
  // Array de todas las clases de animación que quieres actualizar
  const animationClasses = [
    'light',
    'flicker',
    'flicker-fast',
    'flicker-fast2',
    'flicker-fast3',
    'flicker-fast4',
    'flicker-fast5',
    'flicker-fast6',
  ];

  // Función para obtener un valor aleatorio entre un rango
  function getRandomValue(min, max) {
    return Math.random() * (max - min) + min;
  }

  // Función para actualizar la duración de las animaciones
  function updateAnimationDuration(animationClass) {
    // Selecciona todos los elementos con la clase de animación actual
    const elements = document.querySelectorAll(`.${animationClass}`);

    // Si no hay elementos, no hacer nada
    if (elements.length === 0) return;

    // Establece la duración de la animación a un valor aleatorio entre 1s y 5s
    const duration = getRandomValue(1, 5);

    elements.forEach((element) => {
      element.style.animationDuration = `${duration}s`;
    });
  }

  // Actualiza la duración de las animaciones al inicio
  animationClasses.forEach(updateAnimationDuration);

  // Actualiza la duración de las animaciones cada 5 segundos
  setInterval(() => {
    animationClasses.forEach(updateAnimationDuration);
  }, 5000);
</script>
