---
const { items = [] } = Astro.props;
---

<div class="px-4 py-4 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-7xl">
  <div class="grid grid-cols-2 row-gap-8 md:grid-cols-4">
    <div class="text-center md:border-r md:last:border-none dark:md:border-slate-500 mb-12 md:mb-0">
      <div class="counter text-[2.6rem] font-bold lg:text-5xl xl:text-6xl text-primary dark:text-blue-600 font-heading">
        {items.amount1}
      </div>
      <p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
        {items.title1}
      </p>
    </div>
    <div class="text-center md:border-r md:last:border-none dark:md:border-slate-500 mb-12 md:mb-0">
      <div class="counter text-[2.6rem] font-bold lg:text-5xl xl:text-6xl text-primary dark:text-blue-600 font-heading">
        {items.amount2}
      </div>
      <p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
        {items.title2}
      </p>
    </div>
    <div class="text-center md:border-r md:last:border-none dark:md:border-slate-500 mb-12 md:mb-0">
      <div class="counter text-[2.6rem] font-bold lg:text-5xl xl:text-6xl text-primary dark:text-blue-600 font-heading">
        {items.amount3}
      </div>
      <p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
        {items.title3}
      </p>
    </div>
    <div class="text-center md:border-r md:last:border-none dark:md:border-slate-500 mb-12 md:mb-0">
      <div class="counter text-[2.6rem] font-bold lg:text-5xl xl:text-6xl text-primary dark:text-blue-600 font-heading">
        {items.amount4}
      </div>
      <p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
        {items.title4}
      </p>
    </div>
  </div>
</div>
