---
---

<section class="h-screen min-h-[1000px] flex" id="experience">
  <div class="sticky top-8 p-20-40">
    <div
      class="a-top-1 sticky mx-auto mb-20-60 max-w-7xl rounded-10 border border-secondary bg-primary dark:border-primary dark:bg-secondary"
    >
      <header>
        <div class="p-10-20"><h3 class="text-button text-16-40 uppercase text-tertiary">Experience</h3></div>
      </header><section class="w-full">
        <ul class="mx-10-20 flex flex-col gap-10-20 border-t border-secondary py-10-20 dark:border-primary/20">
          <li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2019<br />-<br />2023
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a class="hover:text-tertiary" href="http://divisa.design" target="_blank" rel="noopener noreferrer"
                >Co-Founder, Designer &amp; Developer @ Divisa.</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div><div
      class="a-top-2 sticky mx-auto mb-20-60 max-w-7xl rounded-10 border border-secondary bg-primary dark:border-primary dark:bg-secondary"
    >
      <header>
        <div class="p-10-20"><h3 class="text-button text-16-40 uppercase text-tertiary">Education</h3></div>
      </header><section class="w-full">
        <ul class="mx-10-20 flex flex-col gap-10-20 border-t border-secondary py-10-20 dark:border-primary/20">
          <li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2014<br />-<br />2019
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              Bachelor's and Master's degrees in Design and Multimedia @ University of Coimbra
            </h4>
          </li>
        </ul>
      </section>
    </div><div
      class="a-top-3 sticky mx-auto mb-20-60 max-w-7xl rounded-10 border border-secondary bg-primary dark:border-primary dark:bg-secondary"
    >
      <header>
        <div class="p-10-20">
          <h3 class="text-button text-16-40 uppercase text-tertiary">Exhibitions · Talks · Workshops</h3>
        </div>
      </header><section class="w-full">
        <ul class="mx-10-20 flex flex-col gap-10-20 border-t border-secondary py-10-20 dark:border-primary/20">
          <li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2022
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              Talk with DM Alumni @ NEI ACC
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2022
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              Exhibition @ Portugal National Day of Historical Centers
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2021
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a
                class="hover:text-tertiary"
                href="https://github.com/fabioop/pcd21-generative-type-design"
                target="_blank"
                rel="noopener noreferrer">Workshop @ PCD'21, “Generetive Type Design”</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div><div
      class="a-top-4 sticky mx-auto mb-20-60 max-w-7xl rounded-10 border border-secondary bg-primary dark:border-primary dark:bg-secondary"
    >
      <header>
        <div class="p-10-20"><h3 class="text-button text-16-40 uppercase text-tertiary">Awards · Publications</h3></div>
      </header><section class="w-full">
        <ul class="mx-10-20 flex flex-col gap-10-20 border-t border-secondary py-10-20 dark:border-primary/20">
          <li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2021
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              Winner of Graphic Design Category @ National Exhibition of Young Creators
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2019
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a
                class="hover:text-tertiary"
                href="http://www.atipo.pt/et/atas/10ET-Proceedings.pdf#page=166"
                target="_blank"
                rel="noopener noreferrer">Web-based Tool for the Generation of Letterforms @ 10th Typography Meeting</a
              >
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2019
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a
                class="hover:text-tertiary"
                href="https://dl.acm.org/doi/10.1145/3359852.3359866"
                target="_blank"
                rel="noopener noreferrer"
                >Generative Type Design: Creating Glyphs from Typographical Skeletons @ ARTECH 2019</a
              >
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2019
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a
                class="hover:text-tertiary"
                href="https://selectedinspiration.com/community/project/experiments-on-generative-type-design"
                target="_blank"
                rel="noopener noreferrer">Experiments on Generative Type Design @ Selected</a
              >
            </h4>
          </li><li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-center text-16-40 leading-none text-secondary dark:bg-primary/10 dark:text-primary"
            >
              2015
            </div><h4
              class="flex basis-full items-center rounded-10 bg-primary bg-secondary/10 p-10-20 text-16-40 leading-tight text-secondary dark:bg-primary/10 dark:text-primary"
            >
              <a
                class="hover:text-tertiary"
                href="https://www.posterfortomorrow.org/en/gallery/40167"
                target="_blank"
                rel="noopener noreferrer">Short Listed @ Poster For Tomorrow 2015 Edition</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
<!-- <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl" id="proyectos">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="md:py-4 md:pr-16 mb-4 md:mb-0">
      {title && <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading" set:html={title} />}
      {
        items &&
          items.length &&
          items.map(({ title, description, icon }, index) => (
            <div class="flex">
              <div class="flex flex-col items-center mr-4">
                <div>
                  {index !== items.length - 1 ? (
                    <div class="flex items-center justify-center w-10 h-10 rounded-full border-primary dark:border-blue-700 border-2">
                      {icon && <Icon name={icon} class="w-6 h-6 text-primary dark:text-slate-200" />}
                    </div>
                  ) : (
                    <div class="flex items-center justify-center w-10 h-10 rounded-full border-primary border-2 bg-primary dark:bg-blue-700 dark:border-blue-700">
                      <Icon name={icon} class="w-6 h-6 text-white dark:text-slate-200" />
                    </div>
                  )}
                </div>
                <div class="w-px h-full bg-gray-300 dark:bg-slate-500" />
              </div>
              <div class={`pt-1 ${index !== items.length - 1 ? 'pb-8' : ''}`}>
                {title && <p class="mb-2 text-xl font-bold dark:text-slate-300" set:html={title} />}
                {description && <p class="text-muted dark:text-slate-400" set:html={description} />}
              </div>
            </div>
          ))
      }
    </div>
    <div class="relative">
      {
        image &&
          (typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Picture
              class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
              widths={[400, 768]}
              sizes="(max-width: 768px) 100vw, 432px"
              aspectRatio="432:768"
              width={432}
              height={768}
              {...image}
            />
          ))
      }
    </div>
  </div>
</section> -->
