---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const { data, isReversed = false } = Astro.props;
const imagePath = import.meta.glob<{ default: ImageMetadata }>('/src/assets/works/*.{jpeg,jpg,png,gif}');
const imageSrc = imagePath[`/src/assets/works${data.imagePath}`]();
---

<section class="py-14 md:py-28 relative">
  <div class:list={['flex flex-col items-center gap-8 md:gap-12 md:flex-row', { 'md:flex-row-reverse': isReversed }]}>
    <div class="flex flex-col justify-start h-full items-start md:py-4 md:basis-1/2 w-1/2">
      <h2 class="text-3xl md:text-4xl mb-4 md:mb-8">
        <div
          class="animate-on-scroll"
          data-type="simple"
          data-delay="0.1"
          data-easing="Expo.easeOut"
          data-duration="2.5"
        >
          {data.title}
        </div>
      </h2>
      <div
        class="animate-on-scroll"
        data-type="simple"
        data-delay="0.15"
        data-easing="Expo.easeOut"
        data-duration="2.5"
      >
        {data.text}
      </div>
    </div>

    <div class="relative flex justify-end md:basis-1/2 w-1/2">
      <div
        class="animate-on-scroll"
        data-type="simple"
        data-delay="0.15"
        data-easing="Expo.easeOut"
        data-duration="2.5"
      >
        <Image
          class="rounded-2xl"
          alt={data.title}
          widths={[275, 475, 575, 1050, 1250]}
          sizes={`(max-width: 550px) 275px, (max-width: 750px) 475px, (max-width: 950px) 575px,(max-width: 1920px) 1050px, (max-width: 2560px) 1250px,`}
          quality={'mid'}
          format="avif"
          loading="lazy"
          src={imageSrc}
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>
