---
// Importaciones y definición de propiedades
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const { mediaFiles } = Astro.props;

// Asegurar que images y videos sean arrays iterables
const images = Array.isArray(mediaFiles.images) ? mediaFiles.images : [];
const videos = Array.isArray(mediaFiles.videos) ? mediaFiles.videos : [];

// Combinar y transformar rutas de imágenes y vídeos
const unifiedMediaPaths = [...images, ...videos];
console.log(unifiedMediaPaths);

// Importar metadatos de imágenes
const imageSources = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
---

<!-- Renderizado condicional basado en el tipo de archivo -->
<div id="cards" class="grid grid-cols-5 grid-rows-12 gap-8 h-[150vh] mt-16">
  {
    unifiedMediaPaths.map((mediaItem, index) => {
      const isImage =
        mediaItem.path.endsWith('.jpg') ||
        mediaItem.path.endsWith('.jpeg') ||
        mediaItem.path.endsWith('.png') ||
        mediaItem.path.endsWith('.gif');
      const mediaSrc = isImage ? imageSources[mediaItem.path]() : mediaItem.path;

      const spanClass = [
        'col-span-3 row-span-4',
        'col-span-2 row-span-4 col-start-4',
        'col-span-2 row-span-4 row-start-5',
        'col-span-3 row-span-4 col-start-3 row-start-5',
        'col-span-5 row-span-4 row-start-9',
      ][index % 5];

      return (
        <div class={`bento ${spanClass}`}>
          <div class="bento-content h-full w-full rounded-xl overflow-hidden">
            <div class="w-full h-full absolute z-10 bento-text-container flex items-end justify-end">
              <div class="py-6 px-12 text-end">
                <p class="text-gray-400 font-semibold mb-1">{mediaItem.title}</p>
                <p class="text-white text-sm ">{mediaItem.subtitle}</p>
              </div>
            </div>
            {isImage ? (
              <Image class="rounded-3xl" alt="Imagen" src={mediaSrc} loading="lazy" decoding="async" />
            ) : (
              <video class="object-cover h-full w-full -z-10" src={mediaSrc} autoplay muted playsinline loop />
            )}
          </div>
        </div>
      );
    })
  }
</div>
