---
const { cards } = Astro.props;
const cardsJson = JSON.parse(JSON.stringify(cards));

import { YouTube } from '@astro-community/astro-embed-youtube';
import { Icon } from 'astro-icon/components';
---

<section class="h-full mt-16 mb-8 md:mb-20">
  <div class="grid md:grid-cols-2 gap-7 gap-y-14">
    {
      Object.values(cardsJson).map((card: any, index) => (
        <div
          class="flex flex-col border border-[#f2f2f248] rounded-xl md:rounded-2xl overflow-hidden animate-on-scroll"
          data-type="simple"
          data-duration="1.5"
          data-easing="Expo.easeOut"
        >
          <div class="flex h-[30vh] md:h-[17vh] 2xl:h-[40vh]">
            <YouTube
              class="w-full cursor-none custom-mouse shadow-[inset_0px_-200px_100px_-100px_#0a0118] bg-center"
              data-typemouse="play"
              id={card.ytId}
              poster={`https://i.ytimg.com/vi/${card.ytId}/maxresdefault.jpg`}
            />
          </div>
          <div class="flex flex-col postCardBorderGlow px-5 md:px-8 ">
            <h2 class="mb-2 mt-10 text-white text-lg font-semibold">{card.title}</h2>
            <h3 class="mb-2 ">{card.description}</h3>

            {Object.values(card.info).map((info: any) => (
              <div class="flex py-2 md:py-3 last:pb-10 justify-start items-center">
                <Icon name={info.icon} class="w-5 h-5 md:text-2xl mr-5 text-white" />
                <p class="text-pretty text-sm w-fit">{info.text}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
