---
// Importaciones necesarias
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { getAltTxt } from '~/utils/images';

// Definición de la interfaz para las propiedades
interface CardProps {
  cardMedia: string;
}

const { cardMedia, accentColor } = Astro.props as CardProps;
const altTxt = getAltTxt(cardMedia);
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/works/*.{jpeg,jpg,png,gif}');
const getImage = await images[cardMedia]();
const myImage = getImage.default;

function darkenColor(color, amount) {
  let [r, g, b, a] = color.match(/\d+/g).map(Number);
  r = Math.floor(r * amount);
  g = Math.floor(g * amount);
  b = Math.floor(b * amount);
  return `rgba(${r}, ${g}, ${b}, ${a - 0.25})`;
}

const adjustedColor1 = darkenColor(accentColor, 0.6);
---

<article
  class="animate-on-scroll"
  data-type="simple"
  data-delay="0"
  data-duration="2.5"
  data-easing="Expo.easeOut"
  style={{
    '--gradient-base-color': accentColor,
    '--adjusted-color1': adjustedColor1,
  }}
>
  <div class="relative cardBorderGlow mb-6 w-full h-screen rounded-2xl mt-16 overflow-hidden" data-typemouse="link">
    <div class="bgCardGradient absolute top-0 h-full w-full rounded-2xl"></div>
    <div class="flex flex-col h-full justify-between items-start z-10 relative">
      <div class="px-12 pt-14">
        <div class="flex justify-center items-center">
          <div class="w-3 h-3 mr-3 bg-white rounded-full border border-white"></div>
          <div class="flex justify-center items-center rounded-full">Hola como estas</div>
        </div>
        <h3
          class="text-3xl font-bold tracking-tighter mb-2 headingTxt text-left animate-on-scroll"
          data-type="simple"
          data-delay="0.1"
          data-duration="2.5"
          data-easing="Expo.easeOut"
        >
          dsd
        </h3>
      </div>

      <div
        class="relative rounded pt-16 px-16 animate-on-scroll"
        data-type="simple"
        data-delay="0.35"
        data-duration="2"
        data-easing="Expo.easeOut"
      >
        <Image
          class="rounded-3xl"
          alt={altTxt}
          widths={[275, 475, 575, 1050, 1250]}
          sizes={`(max-width: 550px) 275px, (max-width: 750px) 475px, (max-width: 950px) 575px,(max-width: 1920px) 1050px, (max-width: 2560px) 1250px,`}
          quality={'mid'}
          format="avif"
          loading="lazy"
          src={myImage}
          decoding="async"
        />
      </div>
    </div>
  </div>
</article>
